#motion-effect {
  max-height: 100px;
  max-width: 300px;
  margin: 0 auto;
}
#motion-effect tr {
  transition-duration: 0.3s;
}
#motion-effect tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#motion-effect tr:hover th {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
#box {
  border: 0px;
}